// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #dfa5a4;
  --ion-color-primary-rgb: 223,165,164;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #2064bb;
  --ion-color-primary-tint: #3a80d8;

  /** secondary **/
  --ion-color-secondary: #7890b6;
  --ion-color-secondary-rgb: 120,144,182;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

//**  Custom Css  **//

.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
  color:#333333 !important;
}

.ion-toast{
  --border-radius: 8px !important;
}

*:focus {
  outline: none;
}

//**  Cards  **//

.card-center-image{
  background-size: cover;
  background-position: center;
  height: 100%;
  border-radius: 10px;
}

.card-center-bg{
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.65);
  padding: 15px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100%;
}

.card-center-text{
  color: white;
  text-align: center;
}

.card-center-text .title{
font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
    position: relative;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.card-center-text .title:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6px;
    width: 35px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
	    border-radius: 100px;
}
.card-center-text .subtitle{
	color: #dfa5a4;
    text-transform: uppercase;
    margin-top: 14px;
    font-weight: bold;
    font-size: 14px;
}

//**  Header  **//

.darkheader{
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.darkheader ion-toolbar{
  --background: transparent;
  --ion-color-base: transparent !important;
}

.darkheader ion-title{
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  letter-spacing: 1px;
  text-transform: uppercase !important;
}

.darkheader ion-icon{
  color: white !important;
}

.lightheader ion-title{
  font-size: 15px !important;
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

ion-content , h1, h2, h3, h4, h5, h6, p, span, ion-header ion-title , ul, ol {
	color: #555555;
}


.error {
  display: block;
  margin-top: 4px;
  color: #7890b6;
  font-size: 15px;
}

ion-button.button-h.start-button.btns-trrg, form.flst-str .button-h  {
  --background-activated: #ffffff !important;
  --color: #dfa5a4 !important;
  --color-activated: #dfa5a4 !important;
  --color-focused: #dfa5a4 !important;
  }

  .button {--background-hover: none}
.button:hover {--background-hover: none}