/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~animate.css/animate.min.css';

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Calibri-BoldItalic.woff') format('woff'),
        url('assets/fonts/Calibri-BoldItalic.ttf') format('truetype'),
        url('assets/fonts/Calibri-BoldItalic.svg#Calibri-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri-Italic.woff2') format('woff2'),
        url('assets/fonts/Calibri-Italic.woff') format('woff'),
        url('assets/fonts/Calibri-Italic.ttf') format('truetype'),
        url('assets/fonts/Calibri-Italic.svg#Calibri-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri-Bold.woff2') format('woff2'),
        url('assets/fonts/Calibri-Bold.woff') format('woff'),
        url('assets/fonts/Calibri-Bold.ttf') format('truetype'),
        url('assets/fonts/Calibri-Bold.svg#Calibri-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri-Light.woff2') format('woff2'),
        url('assets/fonts/Calibri-Light.woff') format('woff'),
        url('assets/fonts/Calibri-Light.ttf') format('truetype'),
        url('assets/fonts/Calibri-Light.svg#Calibri-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Calibri-LightItalic.woff') format('woff'),
        url('assets/fonts/Calibri-LightItalic.ttf') format('truetype'),
        url('assets/fonts/Calibri-LightItalic.svg#Calibri-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Calibri';
    src: url('assets/fonts/Calibri.woff2') format('woff2'),
        url('assets/fonts/Calibri.woff') format('woff'),
        url('assets/fonts/Calibri.ttf') format('truetype'),
        url('assets/fonts/Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,html{
    font-family: 'Calibri' !important;
    --ion-default-font:'Calibri' !important;
}